<div class="container">
  <div class="white-card">
    <div class="lecture-admin">
      <h4>Leads</h4>
      <div class="registrations">
        <ol>
          <% @lecture.leads.each do |student| %>
            <li><%= student.full_name %></li>
          <% end %>
        </ol>
      </div>

      <h4>Follows</h4>
      <div class="registrations">
        <ol>
        <% @lecture.follows.each do |student| %>
          <li><%= student.full_name %></li>
        <% end %>
        </ol>
      </div>

    </div>
  </div>
</div>

