<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<% if policy(Lecture).create? %>
  <%= link_to "Create lecture", new_lecture_path %>
<% end %>


<% if policy(Lecture).index? %>
  <%= link_to "See lectures", lectures_path %>
<% end %>
