.white-card {
  margin: 20px auto;
  background-color: white;
  box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.08);
  border-radius: 2px;
  padding: 20px;
  position: relative;
}


.admin-icons {
  i {
    color: black;
    &:hover {
      color: rgb(50, 50, 50);
    }
  }
}


.flex-space {
  display: flex;
  justify-content: space-between;
  align-itens: center;
}
