.navbar-lewagon {
  justify-content: space-between;
  background: black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
  margin-left: 40px;
}

a.nav-link {
  color: rgb(190, 190, 190) !important;

  &:hover {
    color: white !important;
  }
}
